* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: unset;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  /* margin: 0; */
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c8d3d9;
  border-radius: 10px;
}
